<%= provide(:title, "Home") %>

<div class="center hero-unit">
  <h1>Welcome to Qaddy</h1>

  <h2>Attract new online traffic in a cost-efficient way</h2>

  <p>Qaddy solves the largest problem faced by e-retailers today; how to attract new online traffic in a cost-efficient way. Qaddy provides advertising through post-sale social stories. It puts the responsibility of marketing into the hands of the consumers and provides a way for e-retailers to increase online presence by providing incentives to the consumers for sharing recent purchases with their social communities.</p>

  <% if signed_in? %>
    <%= link_to "My Profile", current_user, class: "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>

</div>

