<% provide(:title, "Comparta su reciente compra!") %>

<div class="row">
    <div class="span6 offset3">
        <div id="sharing-logo" class="center">
            <%= image_tag("laComparto_logo.png", alt: "LaComparto Logo" ) %>
        </div>
    </div>
</div>

<div class="row">
    <div class="span8 offset2">

        <div id="sharing-container">

            <div class="row-fluid">
                <div class="span10 offset1">
                    <h3>Comparta su reciente compra!</h3>
                    <h4>Aquí tienes los productos que has comprado y puedes compartir con tus amigos</h4>
                </div>
            </div>

            <div class="lineBr"></div>

            <% if @success %>
                <div class="success-box">
                    <p>Se ha compartido tu compra exitosamente!!!</p>
                </div>
            <% else %>
                <% if @order.nil? %>
                    <div class="error-box">
                        <p>Link no existe</p>
                    </div>
                <% else %>

                    <div class="row-fluid">
                        <div class="span6 offset3">
                            <button type="button" class="btn btn-large btn-block" data-toggle="modal" data-target="#aboutAppModal" data-backdrop="true" data-keyboard="false">Acerca de la aplicación</button>
                            <br>
                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6 offset3">

                            <!-- FB login/out button -->
                            <div>
                                <p><button id="login" class="btn btn-primary btn-large btn-block disabled" disabled onClick="authUser();" data-logintext="Ingresar con Facebook" data-logouttext="Logout">Comprobando el estado de Facebook ...</button></p>
                            </div>

                        </div>
                    </div>

                    <!-- About the App modal -->
                    <div id="aboutAppModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutAppModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="aboutAppModalLabel">Acerca de la aplicación</h3>
                        </div>
                        <div class="modal-body">
                            <p>Aplicación actualmente en <strong>Beta</strong></p>
                            <p>Esta aplicación es para compartir la felicidad que usted siente al recibir su camisa favorita.
                                La aplicación le pedirá que acepte los permisos de Facebook. No te preocupes, los datos se
                                utilizarán exclusivamente para propósitos de compartir y la aplicación se rige por los términos y
                                condiciones de MangaCorta.cl</p>
                            <p><a class="terminos" href="http://mangacorta.cl/assets/Terminos%20y%20Condiciones.pdf" target="_blank">Ver Términos y Condiciones</a>
                            <p>Esperamos que les guste!</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                        </div>
                    </div>

                    <!-- Success modal -->
                    <div id="successModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="successModalLabel">¡Gracias!</h3>
                        </div>
                        <div class="modal-body">
                            <p>Gracias por compartir con tus amigos!
                                <% if (@order.discount_code_perc.to_i > 0) %>
                                    Por favor espere hasta una hora y debería recibir un correo electrónico de nosotros con un
                                    código de descuento que podrás canjear en su próxima compra o dar a su amigo!
                                <% end %>
                            </p>
                            <p>Sigue compartiendo tus artículos favoritos!</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                        </div>
                    </div>

                    <div class="lineBr"></div>

                    <%= render partial: "order_item", collection: @order.order_items %>

                <% end %>
            <% end %>

        </div>

    </div>
</div>

<%= image_tag("bg_image-share-2000.jpg", alt: "background", title: "", id: "background" ) %>

