<!-- start FOOTER -->
<footer class="footer" id="footer">
  <div class="container introFooter">
    <div>
      <%= image_tag("laComparto_logo_footer.png", alt: "LaComparto Logo", title: "LaComparto Logo") %>
    </div>
    <h2>Ahora ya has visto cuan fácil es.</h2>
    <h4>Forma parte de <strong>laComparto</strong> y comienza a incrementar tus ventas!</h4>
    <a href="#signupFormBtn" class="btn btn-large btn-qaddy slowscroll opensignupform">Inscríbete ahora</a>
    <br>
    <br>
    <div class="lineBr"></div>
    <p><strong>&copy;Copyright laComparto.com <%= Date::today.year %>. Todos los Derechos reservados.</strong>

    Si necesitas contactarnos directamente envía un e-mail a <a href="mailto:info@lacomparto.com"><i>info@lacomparto.com</i></a></p>
  </div>
</footer>
