<footer class="footer">
  <small>
    <%= link_to "laComparto.com", root_path %> &copy; <%= Date::today.year %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</footer>
