<header>
  <div class="container">
    <nav id="mainNav">
      <div class="row">

        <div class="span5">
          <div class="headerLogo">
            <%= image_tag("qaddy_logo.png", alt: "Qaddy Logo", title: "Qaddy Logo") %>
          </div>
        </div>

        <div class="span7">
          <ul>
            <li><a href="#contentIntroduction" class="slowscroll">How it Works</a></li>
            <li><a href="#footer" class="slowscroll">Contact</a></li>
            <br class="clear" />
          </ul>
        </div>

      </div>
    </nav><!-- /#mainNav -->
  </div>
</header>

